# basics
HTTP_PROXY=
HTTPS_PROXY=
http_proxy=
https_proxy=

# ssl
CERTBOT_ENABLED=true

# block for nginx-cerbot container
CERTBOT_EMAIL=admin@\${MAIN_DOMAIN} #change this
STAGING=1 #use 1 for testing
DEBUG=1 #1 for debug
