#main url
MURL=""
WIKIURL="wiki.$MURL"
CLOUDURL="cloud.$MURL"
GITLABURL="gitlab.$MURL"
OVERLEAFURL="overleaf.$MURL"
KEYCLOAKURL="auth.$MURL"
WEBLATEURL="weblate.$MURL"
DEVCTURL="dev.$MURL"
TRILIUMURL="trilium.$MURL"
PVEURL="hosting.$MURL"

nginx_config_list=(
#  "00-realip.conf"
#  "wiki.conf"
#  "wiki-fpm.conf"
#  "cloud.conf"
#  "gitlab.conf"
#  "keycloak.conf"
#  "overleaf.conf"
#  "weblate.conf"
#  "dev-ct.conf"
#  "trilium.conf"
#  "pve.conf"
)

# doc lists
# url will be $docname.$MURL
nginx_doc_list=(
#   "docs"
#   "manual"
)